In [10]:
import pandas as py

supermarkets1=py.read_csv("supermarkets-commas.txt",delimiter=",")
supermarkets2=py.read_csv("supermarkets.csv")
supermarkets3=py.read_json("JSONsupermarkets.json")
print(supermarkets1)
print(supermarkets2)
print(supermarkets3)

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20
   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez
5   6  551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

   Employees
0          8
1         15
2         25
3         10
4         12
5         20
           Address           City Country  Employees  ID         Name  \
0     3666 21st St  San Francisco     USA          8   1      Madeira
1   735 Dolores St  San Francisco     USA         15   2  Bready Shop
2      332 Hill St  San Francisco     USA         25   3  Super River
3     3995 23rd St  San Francisco     USA         10   4   Ben's Shop
4  1056 Sanchez St  San Francisco     USA         12   5      Sanchez
5  551 Alvarado St  San Francisco     USA         20   6   Richvalley

              State
0          CA 94114
1          CA 94119
2  California 94114
3          CA 94114
4        California
5          CA 94114

In [11]:
print(supermarkets1.head())

   ID          Address           City             State Country         Name  \
0   1     3666 21st St  San Francisco          CA 94114     USA      Madeira
1   2   735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3      332 Hill St  San Francisco  California 94114     USA  Super River
3   4     3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
4   5  1056 Sanchez St  San Francisco        California     USA      Sanchez

   Employees
0          8
1         15
2         25
3         10
4         12

In [12]:
print(supermarkets1.sample(2))

   ID         Address           City             State Country         Name  \
1   2  735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
2   3     332 Hill St  San Francisco  California 94114     USA  Super River

   Employees
1         15
2         25

In [15]:
print(supermarkets1[["ID","City"]])

   ID           City
0   1  San Francisco
1   2  San Francisco
2   3  San Francisco
3   4  San Francisco
4   5  San Francisco
5   6  San Francisco